<configuration>
    <system.webServer>
        <handlers>
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>