<configuration>
    <system.webServer>
      <handlers>
          <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
          <add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
      </handlers>
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/manifest+json" />
      </staticContent>
    </system.webServer>
</configuration>