---
# Ugh
---
<!doctype html>
  <html lang="en">
    <head>
      {% include head.shtml %}
        <!--#include file="head.shtml" -->

        <style>
          .mslink{
              height: 50px;
              margin: 10px 0px;
          }
          
          .playlink{
              height: 70px;
              margin: 0px -10px;
          }
        </style>
    </head>
    <body>
      {% include header.shtml %}
      <!--#include virtual="/resistor/header.shtml" -->

      <div class="container">
        <div class="row" id="download-apps">
          <div class="col-sm-auto mt-4 mr-3">
            <a href='https://play.google.com/store/apps/details?id=net.jollycode.resistor&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
              <img class="playlink" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
          </div>

          <div class="col-sm-auto mt-4">
            <a href="https://www.microsoft.com/store/apps/9nblggh093wb?ocid=badge">
              <img class="mslink" alt="Get it from Microsoft" src="https://assets.windowsphone.com/85864462-9c82-451e-9355-a3d5f874397a/English_get-it-from-MS_InvariantCulture_Default.png" />
            </a>
          </div>
        </div>

        <div class="row">
            <form class="col mt-4">
              <h3>Select theme</h3>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="theme" id="light" value="light">
                <label class="form-check-label" for="light">
                  Light
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="theme" id="dark" value="dark">
                <label class="form-check-label" for="dark">
                  Dark
                </label>
              </div>
            </form>
        </div>

        <div class="row" id="ms-rate">
          <a class="col mt-4" href="ms-windows-store://review/?ProductId=9nblggh093wb">
            <h3>Rate and review</h3>
          </a>
        </div>

        <div class="row" id="play-rate">
          <!-- <a class="col mt-4" href="market://details?id=net.jollycode.resistor">
            <h3>Rate and review</h3>
          </a> -->
        </div>

        <div class="row">
          <a class="col mt-4" href="license.htm">
            <h3>License notice</h3>
          </a>
        </div>

        <div class="row">
          <div class="col mt-5">
              <h2>Resistor Calc v3.1</h2>
              <p class="text-muted">&copy; 2011-2018 Jolly Code</p>
              
              <script type="text/javascript">
                var image = "logo.png";
                if (typeof(Storage) !== "undefined" && localStorage.getItem("theme") == "dark") 
                  image = "logo_dark.png";
                document.write(`<img src="/${image}" style="height: 50px;" alt="Jolly Code">`);
              </script>
          </div>
        </div>
      </div>

      {% include /bottomjs.shtml %}
      <!--#include file="/bottomjs.shtml" -->
      
      <script src="shared.js"></script>
      
      <script type="text/javascript">
$("#aboutTab").addClass("active");

if (typeof(Storage) !== "undefined") {
  var theme = localStorage.getItem("theme");

  if(theme == null)
    theme = "light";

  $(`input[value=${theme}]`).attr("checked", "");

  $(document).on('change', 'input:radio', function (event) {
      localStorage.setItem("theme", $(this).attr("value"));

      location.reload();
  });
}

if(navigator.userAgent.indexOf("wv") >= 0){
  $("#download-apps")[0].remove();
  $("#ms-rate")[0].remove();
}
else if(navigator.userAgent.indexOf("MSAppHost") >= 0){
  $("#download-apps")[0].remove();
  $("#play-rate")[0].remove();
}
else{
  $("#ms-rate")[0].remove();
  $("#play-rate")[0].remove();
}
      </script>
    </body>
  </html>
