html, body {
    height: 100%;
}

label {
    margin-bottom: 0rem;
}

.main-area { 
    min-height: 100%;
    height: 100%;
}

#wire {
    position: absolute;
    min-height: 500px;
    height: 100%;
    width: 10px;
    background: linear-gradient(to right, gray, silver); ;
    margin-left: 45px; 
}

.resistor{
    position: absolute;
    background: linear-gradient(to right, goldenrod, goldenrod, gold); ;
}

.band{
    background-color: black;
    height: 20px;
    margin-top: 40px;
}

.bandColor{
    padding: 0em;
}
.bandColorInner{
    height: 40px;
    width: 40px;
}

.black{
    background-color: black; 
}
.brown{
    background-color: brown;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange; 
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue; 
}
.violet{
    background-color: violet;
}
.grey{
    background-color: grey;
}
.white{
    background-color: white; 
}
.gold{
    background: linear-gradient(to right, gold, white);
}
.silver{
    background: linear-gradient(to right, silver, white);
}

.band-select{
    overflow-x:auto;
}

#main-button-area {
    padding-right: 0px;
}

#top {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    border-radius: 50%;
}        
#center {
    width: 80px;
    height: 160px;
    margin-top: 160px;
    margin-left: 10px; 
}
#bottom {
    width: 100px;
    height: 100px;
    margin-top: 300px;
    border-radius: 50%;
}

#b2{
    margin-top: 0px;
}
#b3{
    margin-top: 20px;
}
#b5{
    margin-top: 20px;
}
#b4{
    margin-top: 40px;
}